@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

p {
  font-family: 'Open Sans', sans-serif;
  }
