@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.gs-webResult {
    border: 1px solid #eee;
    padding: 1em;
}

.gsc-result-info {
    display: none;
}
