@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.gcsc-branding {
    display: none; 
}
    
.gsc-result-info {
    display: none;
}
